* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&family=Roboto+Mono:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Container */

body {
    background-image: url(../IMGS/Abstract_Technology_Background_-_Networks_-_Red.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#container {
display: flex;
justify-content: center;
}

/* Card */
.card {
    display: flex;
    margin-top: 196px;
    background-color: rgba(245, 245, 245, 0.795);
    width: 28rem;
    height: 20rem;
    box-shadow: 6px 4px 2px 0px #00000068;
    border-radius: 16px;
    padding: 8px;
}

.diaryimg{
    width: 126px;
    height: 128px;
    margin-right: 3rem;
    box-shadow: 6px 4px 2px 0px #0000007c;
    border-radius: 32px;
    margin-right: 32px;
}

.slogan {
    display: flex;
    flex-direction: column;
    height: 232px;
    }

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    background-color: rgba(255, 0, 0, 0.007);
    border-radius: 12px;
    margin-left: 8px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #0000000a;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #0000000a;
    margin-left: 8px;
    margin-top: 32px;
    border-radius: 12px;
}

.contact {
    display: flex;
}

strong {
    width: 258px;
    margin-top: 36px;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    
}

img {
    height: 32px;
    width: 52px;
}

.btn:focus, .btn::-moz-focus-inner{
    outline:none;
    border:none;
  }
  .btn{
    width: 64px;
    height: 64px;
    margin-top: 38px;
    margin-left: 16px;
    border-radius: 12%;
    font-family: Roboto, sans-serif;
    font-size:12px;
    text-transform: uppercase;
    font-weight:700;
    border:none;
    padding: 4px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
  }
  .btn-green{
    background:green;
    color:#fff;
    box-shadow:0 5px 0 #006000;
  }
  .btn-green:hover{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
  }
  .btn-green:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }